@font-face {
    font-family:'normal' ;
    src: url(fonte/coolvetica\ rg.otf);
}
*{font-family: 'normal'}

body{margin: 0px;
padding: 0px;}

header{background-image: url(imagens/SmartSelect_20240919_110351_Samsung\ Notes.jpg);
background-size: cover;
    color: white;
text-align: center;
height: 400px;
margin: 0px;
padding: 0px;
}

.footerlist1{display: flex; 
flex-direction: row;}

.formulario{display: flex;
flex-direction: column;
align-items: center;
align-content: end;}

header > nav{text-align: right;}

a{color: orangered;
text-decoration: none;}

a:hover{text-decoration: underline;}

.linkbotao{background-color: orangered;
color: white;
border-radius: 10px;
padding: 5px;
text-decoration: none;}

.sign{color: white;
padding: 5px;
text-decoration: none;
padding-top: 5px;}

.sign:hover{background-color: white;
color: darkred;
border-radius: 10px;}

.formulario > h1{font-size: 40px;}

.formulario > input{
    border-radius: 20px;
    height: 30px;
    width: 400px;
    border-color: transparent;
}

.fundo01{display: flex;
flex-direction: row;
justify-content: space-around;
margin-top: 30px;
padding-top: 30px;}

.fundo02{display: flex;
    flex-direction: row;
    justify-content: space-around;
margin-top: 30px;
padding-top: 30px;}

.fundo02 > article{width: 300px;}


.fundo03{display: flex;
    flex-direction: row;
    justify-content: space-around;
margin-top: 30px;
padding-top: 30px;
background-color: rgba(222, 184, 135, 0.664);
margin: 0px;}

.fundo03 > article{width: 300px;}

.entrega{
    text-align: center;
    font-size: 15px;
    width:200px ;

}

.loja{
    text-align: center;
    font-size: 15px;
    width:200px ;

}

.celular{
    text-align: center;
    font-size: 15px;
    width:200px ;

}
.logo{width: 30vh;}
.img01{width: 20vh;}

.img02{width: 70vh;}

.img03{width: 70vh;}

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    text-align: justify;
    font-size: 10px;

    

}

.footerlist2{display: flex;
    text-align: left;
flex-direction: row;
padding-right: 175px;
}
li{color: white;
list-style: none;}

footer{background-color: black;}
h4{color: white;}

