.fundoCard{
    background-color: #D7E3F1;
}
.desconto{
    background-color: #E7FF84;
    padding: 10px 0px 10px 5px;
    width: 70px;
    border-radius: 30px;
}
.corFonteBotaoComp1{
    color: #C92071;
}